
<div class="text-center text-danger my-7">
    <h3 class="display-3">
        <i class="fa-solid fa-user-secret"></i>
        <br />
        <br />
        AccessDenied
    </h3>
</div>

<div class="text-center">
    <div class="lead">
        You do not have permission for this page
    </div>
    <div class="btn-group my-5">
        <a class="btn btn-primary" asp-controller="Book" asp-action="Index">Books</a>
        <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>

    </div>
</div>